<style>
	
		body { 
			background-color: linen:
			color: Black;
			font-size: 12px;
			font-family: sans-serif;
		}

		h1 { 
			color: LightSlateGrey;
			font-size: 3em;
			font-family: ”Helvetica”, sans-serif;
			font-weight: bold;
		}

		h2 { 
			color: black;
			font-size: 2em;
			font-family: ”Helvetica”, sans-serif;
		}

		.teksti_class { 
			background-color: ivory:
			color: DarkGrey;
			font-size: 12px;
			font-family: sans-serif;
		}

		#hinnasto { 
			color: black;
				background-color: LavenderBlush;
				font-size: 12px;
				font-family: ”sans-serif;
				border: 2px solid black; 
				padding-left: 5px;
				padding-bottom: 10px;
				padding-right: 5px;
				padding-top: 10px;
		}

	</style>
